<ion-content [scrollEvents]="true" (ionScroll)="onScrollHedearFix($event)">
  <!-- common header show -->
  <common-header [ngClass]="{'fix-header':isFixedHeader}"></common-header>
  
  <!-- ------ banner section start ----- -->
  <div class="banner">
    <ngx-slick-carousel class="carousel" 
    #slickModal="slick-carousel" 
    [config]="slideConfig" 
    (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)"
    (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)">

    <!-- banner slider -->
    <div ngxSlickItem class="slide" *ngFor="let item of homePageData?.banner; let i = index;">
      <img class="bannerImg" src="{{file_url}}/{{item?.Path}}/{{item?.image}}" alt="" width="100%">
      <!-- banner content -->
      <div class="banner-caption-wrapper">
        <div class="container">
          <div class="row">
            <div class="banner-caption wow fadeInDown" data-wow-delay="5s" data-wow-duration="5s">
              <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> -->
                <div class="banner-caption-inner wow fadeInDown" data-wow-delay="1s" data-wow-duration="1s">
                  <div class="section-tittle-box">
                    <div class="section-tittle">
                      <h5>{{item?.title_name}}</h5>
                    </div>
                    <div class="section-main-title" [innerHTML]="item?.sub_title | safeHtml">
                      
                    </div>
                    <p [innerHTML]="item?.description | safeHtml"></p>
                  </div>

                  <div class="custom-btn banner-readmore">
                    <button class="btn" type="submit" [routerLink]="['/', 'our-process']"> 
                      Find Out More 
                      <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
      
    </div>
    </ngx-slick-carousel>

    <!-- rotate image -->
    <div class="slide_rotate rotateme">
      <img src="assets/images/rotate.png">
    </div>
    <!-- Custom annimation -->
    <div class="hero-app-1 custom-animation">
      <img src="assets/images/custom-animation.webp">
    </div>
    <div class="hero-app-2 custom-animation2">
      <img src="assets/images/custom-animation2.webp">
    </div>
    <div class="hero-app-5 custom-animation4">
      <img src="assets/images/custom-animation4.webp">
    </div>
    <div class="hero-app-7 custom-animation2">
      <img src="assets/images/custom-animation1.webp">
    </div>
    <div class="hero-app-8 custom-animation">
      <img src="assets/images/custom-animation.webp">
    </div>
  
  <!-- <button (click)="addSlide()">Add</button>
  <button (click)="removeSlide()">Remove</button>
  <button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
  <button (click)="slickModal.unslick()">unslick</button> -->
  </div>
  <!-- banner section end -->

  <div class="section-background-attatch">

    <!-- --------about_us start-------- -->
    <div class="about_us">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 col-md-12">
            <div class="section-tittle">
              <h5>{{homePageData?.core_service?.title?.title}}</h5>
            </div>
            <div class="section-main-title">
              <p [innerHTML]="homePageData?.core_service?.title?.sub_title | safeHtml"></p>
            </div>
            <div class="content-text">
              <p [innerHTML]="homePageData?.core_service?.title?.description | safeHtml"></p>
            </div>
            <div class="custom-btn">
              <a href="#/about-us">
                About Us
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-8 col-md-12">
            <div class="row">
              <div class="col-lg-6 col-md-6" *ngFor="let item of homePageData?.core_service?.data; let i = index;">
                <div class="single-feature-box">
                  <div class="feature-icon">
                    <i class="fa {{item?.icon}}" aria-hidden="true"></i>
                  </div>
                  <div class="feature-content">
                    <h2>{{item?.title}}</h2>
                    <p>{{item?.short_desc}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- about_us end -->
    
    <!-- -----Client_feedback start----- -->
    <div class="Client_feedback">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-tittle">
              <h5>{{homePageData?.testimonial?.title?.title}}</h5>
            </div>
            <div class="section-main-title" [innerHTML]="homePageData?.testimonial?.title?.sub_title | safeHtml"></div>
          </div>
          <div class="col-lg-12">
            <div class="client_reviews">
              <ngx-slick-carousel class="carousel" 
              #slickModal="slick-carousel" 
              (init)="slickInit($event)"
              [config]="Client_feedbackSlideConfig" 
              >
                <div ngxSlickItem class="slide" *ngFor="let item of homePageData?.testimonial?.data; let i = index;" class="slide">
                  <div class="single-testi-box">
                    <div class="thumb">
                      <div class="testi-thumb">
                        <img src="{{file_url}}/{{item?.Path}}/{{item?.image}}" alt="">
                      </div>
                    </div>
                    <div class="testi-content">
                      <p>{{item?.description}}</p>
                    </div>
                    <div class="testi-inner-content">
                      <h2>{{item?.name}}</h2>
                      <span>{{item?.designation}}</span>
                    </div>
                    <!-- <div class="testi-icon">
                      <ul>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                      </ul>
                    </div> -->
                  </div>
                </div>
              </ngx-slick-carousel>
            </div>
          </div>
        </div>
      </div>
      <div class="shape rotateme">
        <img src="assets/images/shape1.png" alt="">
      </div>
      <div class="shape2">
        <img src="assets/images/shape2.png" alt="">
      </div>
    </div>
    <!-- Client_feedback end  -->

    <!-- ----Request call back start---- -->
    <div class="request-callback">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="section-tittle">
              <h5>{{homePageData?.callback?.title?.title}}</h5>
            </div>
            <div class="section-main-title">
              <h1 [innerHTML]="homePageData?.callback?.title?.sub_title | safeHtml"></h1>
            </div>
            <!-- <div class="content-text" [innerHTML]="get_Call_Back?.title?.title | safeHtml"></div> -->
            <div class="custom-btn">
              <a href="#/contact">
                Request Call Back
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
            <div class="row bottom-section">
              <div class="col-lg-4 col-md-6" *ngFor="let item of homePageData?.callback?.data; let i = index;">
                <div class="single-choose-box">
									<div class="choose-icon">
										<i class="fa {{item?.icon}}" aria-hidden="true"></i>
									</div>
									<div class="choose-counte">
										<div class="counter-title">
											<h2>{{item?.title}}</h2>
											<span class="coun">{{item?.sub_title}}</span>
										</div>
									</div>
								</div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="image-box">
								<img src="assets/images/callback_img.png" alt="">
						</div>
          </div>
        </div>
      </div>
      <div class="choose-shape3 bounce-animate3">
				<img src="assets/images/shape3.png" alt="">
			</div>
    </div>
    <!-- Request call back end -->

    <!-- -------services section start------- -->
    <div class="services">
      <div class="container">
        <div class="section-tittle">
          <h5>{{homePageData?.service?.title?.title}}</h5>
        </div>
        <div class="section-main-title">
          <h1 [innerHTML]="homePageData?.service?.title?.sub_title | safeHtml"></h1>
        </div>
        <div class="services-slider">
          <ngx-slick-carousel class="carousel" 
          #slickModal="slick-carousel" 
          [config]="serviceSlideConfig" 
          (init)="slickInit($event)"
          >
          <div ngxSlickItem class="slide" *ngFor="let item of homePageData?.service?.data; let i = index;">
            <div class="service-item">
              <div class="inner-box">
                <figure class="icon-box">
                  <img src="{{file_url}}/{{item?.Path}}/{{item?.image}}" alt="">
                  <span>0{{i+1}}</span>
                  <div class="anim-icon">
                      <div class="icon-1"></div>
                      <div class="icon-2 rotateme"></div>
                      <div class="icon-3 rotateme"></div>
                  </div>
                </figure>
                <div class="lower-content">
                  <h3>{{item?.service_name}}</h3>
                  <p *ngIf="item?.short_description.length > 100; else not_read_text">
                    <span *ngIf="!item.isReadmoreCollapsed">{{ item?.short_description  | slice:0:100 }} ... </span>
                    <span *ngIf="item.isReadmoreCollapsed">{{ item?.short_description }} </span>
                    <span *ngIf="!item.isReadmoreCollapsed" class="read-content more" (click)="readmoreCollapsed(item)">Read More</span>
                    <span *ngIf="item.isReadmoreCollapsed" class="read-content less" (click)="readmoreCollapsed(item)">Read Less</span>
                  </p>
                  <ng-template #not_read_text>
                    <p>{{ item?.short_description }}</p>
                  </ng-template>
                  <!-- <a href="index.html">More Details</a> -->
                </div>
              </div>
            </div>
          </div>
          </ngx-slick-carousel>
        </div>
      </div>
      <div class="hero-app-1 custom-animation">
        <img src="assets/images/custom-animation.webp">
      </div>
      <div class="hero-app-2 custom-animation2">
        <img src="assets/images/custom-animation2.webp">
      </div>
      <div class="hero-app-5 custom-animation4">
        <img src="assets/images/custom-animation4.webp">
      </div>
      <div class="hero-app-7 custom-animation2">
        <img src="assets/images/custom-animation1.webp">
      </div>
      <div class="hero-app-8 custom-animation">
        <img src="assets/images/custom-animation.webp">
      </div>
    </div>
    <!-- services section end -->

    <!-- ---------contact section start--------- -->
    <div class="contact">
      <div class="contact-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-tittle">
                <h5>{{footer?.titles[1]?.title}}</h5>
              </div>
              <div class="section-main-title" [innerHTML]="footer?.titles[1]?.sub_title | safeHtml"></div>
            </div>
          </div>
        </div>
        <div class="call-shape">
          <img src="assets/images/shape.png">
        </div>
      </div>
      <div class="contact-bottom">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <div class="single-contact-box">
                    <div class="contact-icon">
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </div>
                    <div class="contact-content">
                      <h2>Company location</h2>
                      <p [innerHTML]="footer?.all_data?.address | safeHtml"></p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="single-contact-box">
                    <div class="contact-icon">
                      <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div class="contact-content">
                      <h2>Telephone Number</h2>
                      <p>
                        {{footer?.contact?.mobile?.phone}}
                        <br>
                        {{footer?.contact?.mobile?.alternative_phone}}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="single-contact-box">
                    <div class="contact-icon">
                      <i class="fa fa-envelope-o " aria-hidden="true"></i>
                    </div>
                    <div class="contact-content">
                      <h2>Our Email Address</h2>
                      <p>
                        {{footer?.contact?.email?.email}}
                        <br>
                        {{footer?.contact?.email?.alternative_email}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="single-contact-from-box">
                <div class="section-tittle-box">
                  <div class="section-tittle">
                    <h5>{{footer?.titles[0]?.title}}</h5>
                  </div>
                  <div class="section-main-title" [innerHTML]="footer?.titles[0]?.sub_title | safeHtml"></div>
                </div>
                <div class="contact_from">
                  <form #acontactusAddForm="ngForm" (ngSubmit)="onSubmitConsultation(acontactusAddForm)">
                    <div class="row">
                      <!-- Name -->
                      <div class="col-lg-12">
                        <ion-input placeholder="Name*" name="name" [(ngModel)]="model.name" clearInput required></ion-input>
                      </div>
                      <!-- email -->
                      <div class="col-lg-12">
                          <ion-input placeholder="Email*" type="email" name="email" [(ngModel)]="model.email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" clearInput email required></ion-input>
                      </div>
                      <!-- Mobile -->
                      <div class="col-lg-12">
                          <ion-input placeholder="Mobile*" OnlyNumber="true" type="tel" minlength="10"maxlength="10" name="phone" [(ngModel)]="model.phone" clearInput required></ion-input>
                      </div>
                      <!-- Select Country -->
                      <div class="col-lg-12">
                        <ng-select #countrySearch
                          [dropdownPosition]="'bottom'"
                          placeholder="Select Country*"
                          [items]="country"
                          bindLabel="name"
                          bindValue="id"
                          [searchable]="false"
                          name="country" 
                          [(ngModel)]="model.country"
                          required
                          >
                          <ng-template ng-header-tmp>
                            <input placeholder="Search" class="dropdown-custom-search" type="text" (input)="countrySearch.filter($event.target.value)" [autofocus]="true" />
                          </ng-template>
                        </ng-select>
                      </div>
                      <!-- Message -->
                      <div class="col-lg-12">
                          <ion-textarea placeholder="Message" auto-grow="true" name="message" [(ngModel)]="model.description" clearInput></ion-textarea>
                      </div>
                    </div>
                    <div class="custom-btn">
                      <button class="btn" type="submit" 
                        [disabled]="!acontactusAddForm.valid || form_submit_text == 'Submitting'"
                        > 
                        <ion-spinner name="crescent" *ngIf="form_submit_text == 'Submitting'"></ion-spinner> 
                        {{form_submit_text}}
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- contact section end -->

  </div>

  <!-- common footer show -->
  <common-footer></common-footer>

</ion-content>

